.app {
    width: 100%;
    min-height: 100vh;
    padding: 0px 15px;
}

.bg-cold {
    background: url('../../public/assets/images/background/cold.jpg') no-repeat fixed bottom;
    background-size: cover;
}

.bg-usual {
    background: url('../../public/assets/images/background/usual.jpg') no-repeat fixed center;
    background-size: cover;
}

.bg-warm {
    background: url('../../public/assets/images/background/warm.jpg') no-repeat fixed center;
    background-size: cover;
}

.bg-hot {
    background: url('../../public/assets/images/background/hot.jpg') no-repeat fixed center;
    background-size: cover;
}

*::selection {
    background-color: black;
    color: white;
}

.parent-div {
    background-color: rgba(255, 255, 255, 0.65);
    backdrop-filter: blur(2px);
    box-shadow: 0px 0px 10px black;
    border-radius: 10px;
    width: 100%;
}

.city-input {
    background-color: transparent;
    border: none;
    border-radius: 10px;
    border-bottom: 2px solid black;
    text-align: center;
    padding: 5px 3px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif !important;
    font-size: 24px;
}

.city-input::placeholder {
    font-family: 'BYekan' !important;
    font-size: 26px;
}

.city-input:focus {
    outline: none;
    border-color: grey;
    box-shadow: 0px 0px 10px grey;
}

.show-temp {
    height: 130px;
    line-height: 130px;
    font-size: 3rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif !important;
    border-radius: 10px;
    background: linear-gradient(45deg , #00CCFFD4 10% , #008080D4 50% , #00CCFFD4 90%);
    box-shadow: 0px 0px 15px black;
}

.temp {
    position: relative;
    bottom: 7px;
    right: 5px
}

.weather {
    font-size: 34px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(0, 82, 82);
    padding: 5px 0px;
    border-bottom: 2px solid rgb(0, 82, 82);
}

.my-spinner {
    width: 60px;
    height: 60px;
}

@media screen and (min-width: 768px) {
    .parent-div {
        width: 75%;
    }
}